@import "reset.css";

@font-face {
    font-family: Socialico;
    src: url(../fonts/socialico.ttf);
    src: url(../fonts/socialico.woff);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #445162;
    padding: 50px 50px;
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
    font-size: 3em;
}

.header_content {
    list-style-image: url(../img/check_icon.png);
    line-height: 30px;
    margin-left: 50px;
    margin-top: 50px;
}

.shape9 {
    width: 23.45em;
    height: 10.7em;
    background-color: #ffffff;
}

.about {
    padding: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    color: #445161;
    font-weight: 400;
}


.about h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.about p {
    width: 650px;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.video {
    width: 21.5em;
    height: 12.1em;
    background-color: #445161;
}

.pluses {
    padding: 50px 50px 15px;
    background-color: #f5f5f5;
}

.pluses h2 {
    width: 360px;
    color: #445161;
    font-size: 1.5em;
    line-height: 36px;
    margin: 0 auto;
}

.pluses_content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 29px;
}

.content_item {
    display: flex;
    width: 590px;
    margin-bottom: 35px;
    line-height: 24px;
}

.content_item>div {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 6px;
}

.content_item p {
    color: #333333;
    font-size: 16px;
    margin-left: 0.8em;
    padding-right: 16px;
    text-align: justify;
}

.screenshots {
    background-color: #fff;
    padding: 50px 50px 20px;
}

.screenshots h2 {
    width: 138px;
    height: 22px;
    margin: 0 auto 35px;
    color: #445161;
    font-size: 1.5em;
    line-height: 36px;
}

.screenshots_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.screenshot_item {
    display: flex;
    max-width: 590px;

}

.article-content {
    margin-bottom: 30px;
    padding: 0 15px;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

.screenshot_item h3 {
    color: #445161;
    font-size: 1.2em;
    line-height: 30px;
}

.article_image {
    align-self: flex-start;
}

.screenshot_text {
    text-align: justify;
}

.reviews {
    padding: 50px 50px 15px;
    background-color: #f5f5f5;
}

.reviews_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}

.review_item {
    display: flex;
    margin-bottom: 24px;
}

.reviews h2 {
    width: 111px;
    color: #445161;
    font-size: 1.5em;
    line-height: 36px;
    margin: 0 auto;
}

.review_item img {
    align-self: flex-start;
}

.review_item>div {
    position: relative;
    width: 420px;
    background-color: #ebebeb;
    border-radius: 6px;
    padding: 16px 20px 0 27px;
    margin-left: 26px;
}

.pointer {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ebebeb;
    transform: rotate(45deg);
    top: 30px;
    left: -10px;

}

.review_author {
    margin-top: 15px;
    color: #989898;
    font-size: 14px;
    line-height: 18px;
}

.review_text {
    font-style: italic;
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    max-width: 436px;
    text-align: justify;
}

.buy_it_now {
    position: relative;
    padding: 50px 0px 20px;
}

.back_video {
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.buy_it_now h2 {
    width: 140px;
    color: #445161;
    font-size: 1.5em;
    line-height: 36px;
    margin: 0 auto 29px;
    text-shadow: 2px 2px 3px white, -2px -2px 3px white, -2px 2px 3px white, 2px -2px 3px white;
}

.buy_it_now>div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.standart {
    width: 300px;
    height: 306px;
    background-image: url(../img/bg_st.png);
    margin: 0px 22px 30px;
}

.standart h3 {
    width: 90px;
    margin: 16px auto;
    color: #ffffff;
    font-size: 1.2em;
}

.premium {
    width: 300px;
    height: 404px;
    background-image: url(../img/bg_pr.png);
    margin: 0px 22px 30px;
}

.premium h3 {
    width: 90px;
    margin: 16px auto;
    color: #ffffff;
    font-size: 1.2em;
}

.lux {
    width: 300px;
    height: 499px;
    background-image: url(../img/bg_lx.png);
    margin: 0px 22px 30px;
}

.lux h3 {
    width: 38px;
    margin: 16px auto;
    color: #ffffff;
    font-size: 1.2em;
}

.price {
    height: 35px;
    width: 296px;
    margin-left: 2px;
    background-color: #fff;
    color: #445162;
    font-size: 2em;
    text-align: center;
    padding: 18px 0px;
}

.buy_it_now ol {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    padding: 19px 0 19px 15px;
    list-style-type: decimal;
    list-style-position: inside
}

.buy_it_now button {
    background-color: #fff;
    border-radius: 6px;
    width: 260px;
    height: 40px;
    color: #445161;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

.buy_it_now button:hover {
    background-color: rgba(245, 245, 245, 0.635);
}

.contacts {
    background-color: #445162;
    padding: 53px 0px 19px 0px;
}

.contacts h2 {
    width: 117px;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 36px;
    margin: 0 auto 30px;
}

.contacts form {
    max-width: 500px;
    margin-bottom: 30px;
}

.contacts input {
    background-color: #fff;
    border-radius: 6px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 380px;
    height: 40px;
    margin-bottom: 21px;
    padding-left: 9px;
}

input[type="date"] {
    width: 200px;
}

form label {
    display: inline-block;
    width: 100px;
    color: #fff;
    font-size: 16px;
    text-align: right;
}

.contacts textarea {
    background-color: #fff;
    border-radius: 6px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 500px;
    height: 170px;
    margin-bottom: 21px;
    font-family: Arial, sans-serif;
}

.submit_reset {
    text-align: center;
}

.submit_reset input {
    width: 140px;
    margin: 0 10px;
    color: #445162;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.submit_reset input:hover {
    background-color: rgba(245, 245, 245, 0.635);
}

.contacts>div {
    display: flex;
    width: 782px;
    margin: 0 auto;
}

.contacts_items {
    margin-left: 49px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 200px;
}

.contacts_items img {
    float: left;
    margin-right: 5px;
}

.contacts_items>div {
    clear: both;
    margin-bottom: 20px;
}

.contacts_items a {
    text-decoration: none;
    color: inherit;
}

.social_btn {
    color: #ffffff;
    font-family: Socialico;
    font-size: 3.75em;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.5px;
    margin-top: 37px;
}

.footer {
    width: 288px;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .screenshots_content {
        flex-direction: column;
        align-items: center;
    }

    .pluses_content {
        flex-direction: column;
        align-items: center;
    }

    .reviews_content {
        flex-direction: column;
        align-items: center;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about h2 {
        text-align: center;
    }

    .video {
        margin-top: 10px;
    }
}

@media (max-width: 1000px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .shape9 {
        margin-top: 30px;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .buy_it_now>div {
        flex-direction: column;
        align-items: center;
    }

    .contacts>div {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about p {
        width: 100%;
    }

    .content_item {
        width: 100%;
    }

    .review_item>div {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        font-size: 16px;
    }
    .screenshot_item {
        flex-direction: column;
        align-items: center;
    }

    .article_image {
        align-self: center;
        margin-bottom: 10px;;
    }

    .article-content h3 {
        text-align: center;
    }

    .review_item {
        flex-direction: column;
        align-items: center;
    }

    .review_item>div {
        margin-top: 29px;
    }

    .pointer {
        top: -10px;
        left: 35px;
    }

    form label {
        display: block;
        margin-bottom: 10px;
    }

    .contacts input {
        width: 100%;
    }

    .contacts textarea {
        width: 100%;
    }

    .submit_reset input {
        width: 100%;
        margin-top: 10px;
    }
}

